<div class="container">
    <div class="soc_icons">
        <ul>
            <li>
                <a href="https://www.linkedin.com/company/sygna/" target="_blank" title="LinkedIn">
                    <img src="images/linkedin.svg" alt="">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Sygna_" target="_blank" title="twitter">
                    <img src="images/twitter.svg" alt="">
                </a>
            </li>
            <li>
                <a href="http://sygna.io/" target="_blank" title="SYGNA Bridge">
                    <img src="images/sygna_g.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <p>8F., No. 176, Changchun Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.)<br>
    Powered by Sygna.</p>
</div>