<div class="container">
    <div class="intro">
        <h2 class="title">VASP Rejected</h2>
        <p class="text">Hello, <br><br>
            We are sorry and would like to inform you that the registration of <span>{vasp code}</span> is failed.
            <br>
            The reason behind this is:
            <br>
            <span class="reject_reason">{reject reason from account approver}</span>
            <br><br>
            Please update your registration information and resubmit in the following link.
        </p>
    </div>
    <div class="cta_block">
        <div class="cta">
            <a href="#" class="btn btn-primary" target="_blank" title="one-time-registration-link-address">
                <span>registration link</span>
            </a>
        </div>
        <p class="text">
            If you have any question, please contact us at <a href="mailto:contact@sygna.io">contact@sygna.io</a> 
            or visit our website.
        </p>
    </div>
</div>