<div class="container">
    <!-- INTRO text -->
    <div class="intro">
        <h2 class="title">Information Received</h2>
        <p class="text">Hello, <br>
            Thanks for your time register in Sygna Bridge. 
            <br>
            This is a copy of information you have registered:
            <br>
            We will inform you once the registration is approved.
        </p>
    </div>
    <!-- INFO table -->
    <div class="info">
        <!-- Company Name -->
        <div class="section first">
            <div class="title">
                <h3>Company Name</h3>
            </div>
            <div class="content">
                <span>{Company Name}</span>
            </div>
        </div>
        <!-- VASP Code Name -->
        <div class="section">
            <div class="title">
                <h3>VASP Code Name</h3>
            </div>
            <div class="content">
                <span>{VASP Code Name}</span>
            </div>
        </div>
        <!-- Country Code -->
        <div class="section">
            <div class="title">
                <h3>Country Code</h3>
            </div>
            <div class="content">
                <span>{Country Code}</span>
            </div>
        </div>
        <!-- City Code -->
        <div class="section">
            <div class="title">
                <h3>City Code</h3>
            </div>
            <div class="content">
                <span>{City Code}</span>
            </div>
        </div>
        <!-- VASP Category -->
        <div class="section">
            <div class="title">
                <h3>VASP Category</h3>
            </div>
            <div class="content">
                <span>{VASP Category}</span>
            </div>
        </div>
        <!-- Beneficiary VASP API endpoint URL -->
        <div class="section">
            <div class="title">
                <h3>Beneficiary VASP API endpoint URL</h3>
            </div>
            <div class="content">
                <span>{Beneficiary VASP API endpoint URL}</span>
            </div>
        </div>
        <!-- Fixed static IP Address -->
        <div class="section">
            <div class="title">
                <h3>Fixed static IP Address</h3>
            </div>
            <div class="content">
                <span>{Fixed static IP Address}</span>
            </div>
        </div>
        <!-- VASP Public Key -->
        <div class="section">
            <div class="title">
                <h3>VASP Public Key</h3>
            </div>
            <div class="content">
                <span>{VASP Public Key}</span>
            </div>
        </div>
        <!-- Go-Live Time -->
        <div class="section last">
            <div class="title">
                <h3>Go-Live Time</h3>
            </div>
            <div class="content">
                <span>{2020-03-11T00:24:00Z}}</span>
            </div>
        </div>
    </div>
    <!-- CTA block -->
    <div class="cta_block">
        <p class="text">
            If you have any questions with the information in this email, please let us know at 
            <a href="mailto:contact@sygna.io">contact@sygna.io</a> or visit our website.
        </p>
        <div class="cta">
            <a href="http://sygna.io/" class="btn btn-primary" target="_blank">
                <span>For More Information, Visit Us At Sygna.Io</span>
            </a>
        </div>
    </div>
</div>