<div class="container" id="app">
    <!-- INTRO text -->
    <intro></intro>
    <!-- REGISTRATION form -->
    <!-- 可循環 -->
    <form action="" class="" id="registration_form">
        <!-- Company Name -->
        <div class="input input-field" v-for="input in inputs" v-bind:class="{ 'required': input.status }">
            <label :for="input.title">{{input.title}}</label>
            <span>{{input.description}}</span>
            <input :id="input.title" type="email" class="validate" :placeholder="placeholder">
            <span class="helper-text" data-error="wrong">{{input.helpertxt}}</span>
        </div>
        <!-- Company Name -->
        <!-- <div class="input-field required">
            <label for="vasp_code">VASP Code Name</label>
            <span>4 uppercase letters to represent your company name. Example: "Coinbase exchange" could be "CBSE", "Sygna" could be "SYGN"</span>
            <input id="vasp_code" type="text" class="validate" placeholder="Input VASP Code Name">
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div> -->
    </form>
    <!-- 可循環 -->
    <!-- KEY PAIR -->
    <div class="info">
        <h4>
            Key pair generation
        </h4>
        <p>
            This short guide will help you to generate a key pair via the OpenSSL command line tool, in order to provide
            the public key to Bridge.
            <br><br>
            Generate an EC private key, of size 256, and output it to a file named key.pem:
            >> $ openssl ecparam -name secp256k1 -genkey -out key.pem
            <br><br>
            Extract the public key from the key pair, which can be used in the encryption:
            >> $ openssl ec -in key.pem -pubout -out public.pem
            <br><br>
            After running these two commands you will generate two files: key.pem and public.pem in your working
            directory. Please provide us with the public.pem
            key.pem is referenced in the creation of a digital signature on the message. Please take care not to expose
            the private key. Ensure that you only do so on a system you consider to be secure.
        </p>
    </div>
    <!-- CTA block -->
    <div class="cta_block">
        <p class="text">
            If you have any questions with the information in this email, please let us know at
            <a href="mailto:contact@sygna.io">contact@sygna.io</a> or visit our website.
        </p>
        <div class="cta">
            <a href="#" class="btn btn-primary" target="_blank">
                <span>For More Information, Visit Us At Sygna.Io</span>
            </a>
        </div>
    </div>
</div>