<div class="container">
    <div class="intro">
        <h2 class="title">You are live with Sygna Bridge</h2>
        <p class="text">Hello, <br><br>
            <span>{Vasp code}</span> is now live in Sygna Bridge server.
        </p>
    </div>
    <div class="cta_block">
        <p class="text">
            If you have any question, please contact us at <a href="mailto:contact@sygna.io">contact@sygna.io</a> 
            or visit our website.
        </p>
    </div>
</div>