<div class="container">
    <ul>
        <li>
            <a href="registration.html">Registration</a>
        </li>
        <li>
            <a href="account_manager_return.html">Account Manager Return</a>
        </li>
        <li>
            <a href="account_manager_delete.html">Account Manager Delete</a>
        </li>
        <li>
            <a href="create_notification.html">Create Notification</a>
        </li>
        <li>
            <a href="approver_return.html">Approver Return</a>
        </li>
        <li>
            <a href="approver_delete.html">Approver Delete</a>
        </li>
        <li>
            <a href="registration_success.html">Registration Success</a>
        </li>
        <li>
            <a href="go-live.html">Go-live</a>
        </li>
        <li>
            <a href="notify_approver.html">Notify Approver</a>
        </li>
    </ul>
</div>