<div class="container">
    <!-- INTRO text -->
    <div class="intro">
        <h2 class="title">Needs Apporval</h2>
        <p class="text">Hello, <br>
            This VASP needs your approval to be listed in Sygna Bridge.
        </p>
    </div>
    <!-- INFO table -->
    <div class="info">
        <!-- Company Name -->
        <div class="section first">
            <div class="title">
                <h3>Company Name</h3>
            </div>
            <div class="content">
                <span>{Company Name}</span>
            </div>
        </div>
        <!-- VASP Code Name -->
        <div class="section last">
            <div class="title">
                <h3>VASP Code Name</h3>
            </div>
            <div class="content">
                <span>{VASP Code Name}</span>
            </div>
        </div>
    </div>
    <!-- CTA block -->
    <div class="cta_block">
        <p class="text" style="margin-bottom: 0;">
            Please log in and approve with 
            <a href="#" target="_blank">{back office link}</a>
        </p>
    </div>
</div>