<div class="container">
    <!-- INTRO text -->
    <div class="intro">
        <h2 class="title">Welcome to Sygna Bridge Service</h2>
        <p class="text">Hello, <br>
            It's great to have you onboard the Sygna Bridge platform. You can find registration information below.
        </p>
    </div>
    <!-- INFO table -->
    <div class="info">
        <!-- API Key -->
        <div class="section first">
            <div class="title">
                <h3>Your API Key</h3>
                <span>Authentication Key to Bridge Server.</span>
            </div>
            <div class="content">
                <span class="copytxt" id="api_key">{Your API Key}</span>
            </div>
        </div>
        <!-- VASP Code -->
        <div class="section">
            <div class="title">
                <h3>VASP Code</h3>
                <span>Public identification consists of 8 letters to 11 letters</span>
            </div>
            <div class="content">
                <span>{VASP Code}</span>
            </div>
        </div>
        <!-- Bridge Public Key -->
        <div class="section">
            <div class="title">
                <h3>Bridge Public Key</h3>
                <span>To verify the Sygna Bridge signature from the API ‘GET Bridge/VASP’</span>
            </div>
            <div class="content">
                <span class="copytxt">{Bridge Public Key}</span>
            </div>
        </div>
        <!-- Bridge Test API domain -->
        <div class="section">
            <div class="title">
                <h3>Bridge Test API domain</h3>
                <span>API domain for test and integration only</span>
            </div>
            <div class="content">
                <span>{Bridge Test API domain}</span>
            </div>
        </div>
        <!-- Static IP -->
        <div class="section">
            <div class="title">
                <h3>Static IP from Bridge</h3>
                <span>For secure communication to VASP server</span>
            </div>
            <div class="content">
                <span class="d-block">{Static IP 1 from Bridge}</span>
                <span class="d-block">{Static IP 2 from Bridge}</span>
            </div>
        </div>
        <!-- Go-live Date -->
        <div class="section last">
            <div class="title">
                <h3>Go-live Date</h3>
                <span>Your assigned date to Go-live with Sygna Bridge.</span>
            </div>
            <div class="content">
                <span>{2020-03-11T00:24:00Z}</span>
            </div>
        </div>
    </div>
    <!-- CTA block -->
    <div class="cta_block">
        <p class="text">
            If you have any questions with the information in this email, please let us know at
            <a href="mailto:contact@sygna.io">contact@sygna.io</a> or visit our website.
        </p>
        <div class="cta">
            <a href="http://sygna.io/" class="btn btn-primary" target="_blank">
                <span>For More Information, Visit Us At Sygna.Io</span>
            </a>
        </div>
    </div>
</div>