/* line 3, ../sass/button.scss */
.btn {
  min-width: 200px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 17, ../sass/button.scss */
.btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
}

/* primary: confirm / cta */
/* line 22, ../sass/button.scss */
.btn-primary {
  background-color: #104935;
  color: white !important;
}
/* line 25, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active {
  color: #c39e37 !important;
  background-color: #197353 !important;
}

/* secondary */
/* line 31, ../sass/button.scss */
.btn-secondary {
  background-color: #d2ddee;
  border-color: #f7f9fc;
  color: white;
}
/* line 35, ../sass/button.scss */
.btn-secondary:hover, .btn-secondary:active {
  background-color: #c39e37;
  border-color: #4a4a4a;
}
/* line 39, ../sass/button.scss */
.btn-secondary.disabled {
  background-color: #197353;
  cursor: not-allowed;
}
/* line 42, ../sass/button.scss */
.btn-secondary.disabled:hover, .btn-secondary.disabled:active {
  background-color: #197353;
}

/* success */
/* warning */
/* danger */
