/* line 3, ../sass/header.scss */
#header {
  position: relative;
  width: 100%;
  padding: 30px 0 0;
}
/* line 7, ../sass/header.scss */
#header .container {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 7px solid #104935;
}
/* line 12, ../sass/header.scss */
#header .logo {
  display: inline-block;
  margin-bottom: 6px;
}

/* line 3, ../sass/footer.scss */
#footer {
  padding: 21px 0 24px;
  background: #104935;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
/* line 8, ../sass/footer.scss */
#footer p {
  margin-bottom: 0;
  font-size: 9px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
/* line 15, ../sass/footer.scss */
#footer .soc_icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 19, ../sass/footer.scss */
#footer .soc_icons ul li {
  display: inline-block;
}
/* line 21, ../sass/footer.scss */
#footer .soc_icons ul li:not(:last-of-type) {
  padding-right: 15px;
}
/* line 24, ../sass/footer.scss */
#footer .soc_icons ul li a > img {
  width: 15px;
}

/* line 7, ../sass/content.scss */
*, ::after, ::before {
  box-sizing: border-box;
}

/* line 11, ../sass/content.scss */
html {
  font-size: 12px;
}

/* line 15, ../sass/content.scss */
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: normal;
  color: #4a4a4a;
}

/* line 24, ../sass/content.scss */
a {
  color: #0091ff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 27, ../sass/content.scss */
a:hover, a:active, a:focus {
  color: #c39e37;
  outline: none;
  text-decoration: none;
}

/* line 34, ../sass/content.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 39, ../sass/content.scss */
p {
  margin-bottom: 20px;
}

/* line 43, ../sass/content.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222b45;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

/* line 3, ../sass/button.scss */
.btn {
  min-width: 200px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 17, ../sass/button.scss */
.btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
}

/* primary: confirm / cta */
/* line 22, ../sass/button.scss */
.btn-primary {
  background-color: #104935;
  color: white !important;
}
/* line 25, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active {
  color: #c39e37 !important;
  background-color: #197353 !important;
}

/* secondary */
/* line 31, ../sass/button.scss */
.btn-secondary {
  background-color: #d2ddee;
  border-color: #f7f9fc;
  color: white;
}
/* line 35, ../sass/button.scss */
.btn-secondary:hover, .btn-secondary:active {
  background-color: #c39e37;
  border-color: #4a4a4a;
}
/* line 39, ../sass/button.scss */
.btn-secondary.disabled {
  background-color: #197353;
  cursor: not-allowed;
}
/* line 42, ../sass/button.scss */
.btn-secondary.disabled:hover, .btn-secondary.disabled:active {
  background-color: #197353;
}

/* success */
/* warning */
/* danger */
/* line 53, ../sass/content.scss */
.content {
  background: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 60, ../sass/content.scss */
.container {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

/* line 69, ../sass/content.scss */
#main .text {
  font-size: 12px;
  margin-bottom: 0;
}
/* line 73, ../sass/content.scss */
#main .intro {
  padding: 30px 0 20px;
}
/* line 75, ../sass/content.scss */
#main .intro .title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222b45;
  line-height: 24px;
  font-weight: bold;
}
/* line 83, ../sass/content.scss */
#main .cta_block {
  padding: 20px 0 30px;
}
/* line 85, ../sass/content.scss */
#main .cta_block .text {
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 89, ../sass/content.scss */
#main .cta_block .cta {
  text-align: center;
}
/* line 91, ../sass/content.scss */
#main .cta_block .cta .btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: none;
  height: auto;
}
/* line 98, ../sass/content.scss */
#main .cta_block .cta .btn span {
  display: inline-block;
  min-width: 219px;
}

@media (min-width: 768px) {
  /* line 5, ../sass/index2.scss */
  #reg.content, #amr.content {
    max-width: 500px;
  }
}
@media (min-width: 576px) {
  /* line 10, ../sass/index2.scss */
  #reg .container, #amr .container {
    max-width: 500px;
  }
}
/* line 15, ../sass/index2.scss */
#reg #header .logo, #amr #header .logo {
  max-width: 133px;
}
/* line 21, ../sass/index2.scss */
#reg #main .intro .title, #amr #main .intro .title {
  padding-bottom: 19px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
/* line 27, ../sass/index2.scss */
#reg #main .intro .reject_reason, #amr #main .intro .reject_reason {
  font-weight: bold;
  color: #c39e37;
}
/* line 32, ../sass/index2.scss */
#reg #main .cta_block, #amr #main .cta_block {
  padding: 0 0 30px;
}
/* line 34, ../sass/index2.scss */
#reg #main .cta_block .text, #amr #main .cta_block .text {
  margin-top: 20px;
  margin-bottom: 0;
}
